/* ***********************[ Header ]*********************** */
#pop_image {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    /* background: #f0f0f0; */
    justify-content: center;
  }
/* ***********************[ Thumbnail ]*********************** */
  .thumbnail {
    width: 160px;
    height: 160px;
    object-fit: contain;
    cursor: pointer;
    border-radius: 14px;
    transition: transform 0.3s ease;
    border: 2px solid #006400;
  }

  .thumbnail:hover {
    transform: scale(1.05);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .overlay img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px #fff;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }

  .overlay.show {
    display: flex;
  }
/* ***********************[ Next/Prev buttons ]*********************** */
.nav-btn {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s;
  user-select: none;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.3);
  border-radius: 0 3px 3px 0;
  }
  #prevBtn {
    left: 30px;
  }

  #nextBtn {
    right: 30px;
  }

  /* ***********************[ Close X buttons ]*********************** */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    background: rgba(255, 255, 255, 0.9);
    border: none;
    font-size: 2rem;
    line-height: 1;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1002;
  }